<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._03_Menu_Principal">

        <!-- Servicio de Firebase Cloud Messaging -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme._03_Menu_Principal" />
        <activity
            android:name=".datastore.DataStoreActivity"
            android:exported="false"
            android:theme="@style/usuario" />
        <activity
            android:name=".maps.MapasActivity"
            android:exported="false"
            android:theme="@style/Mapas" />
        <activity
            android:name=".quizz.QuizzResultadoActivity"
            android:exported="false"
            android:theme="@style/Quizz" />
        <activity
            android:name=".quizz.QuizzPrincipalActivity"
            android:exported="false"
            android:theme="@style/Quizz" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".calculadora.CalculadoraActivity"
            android:exported="false"
            android:theme="@style/Calculadora" />
        <activity
            android:name=".cine.ListaPeliculasActivity"
            android:exported="false"
            android:theme="@style/Ultimas_peliculas" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".superheroes.detalle.DetalleHeroeActivity"
            android:exported="false"
            android:theme="@style/Registro_SuperHeroes" />
        <activity
            android:name=".superheroes.RegistroSuperHeroeActivity"
            android:exported="false"
            android:theme="@style/Registro_SuperHeroes" />
        <activity
            android:name=".edadcanina.EdadCaninaActivity"
            android:exported="false"
            android:theme="@style/Edad_Canina" />
        <activity
            android:name=".fragments.FragmentsActivity"
            android:exported="false"
            android:theme="@style/Menu_Fragments" />
        <activity
            android:name=".apirazas.RazasApiActivity"
            android:exported="false"
            android:theme="@style/API_Rest_Razas" /> <!-- La actividad de login será la que inicia la App -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme._03_Menu_Principal.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 6 - Le damos permisos a nuestro provider -->
        <!-- Un provider es un componente que permite compartir datos entre aplicaciones de manera segura -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>